
  .start-button {
    border: none;
    background-color: indigo;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 15px;
    line-height: 10px;
    margin: 16px 16px 16px 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .opening-screen {
      display: block;
  }

  .question1 {
      display: none;
  }
